@media only screen and (max-width: 640px) {}
  
body {
  background-color:#faf7da;
  font-family: 'Open Sans', sans-serif;
  height:1136px;
  width:100%;
  margin-left:0px;
  margin-right:0px;
}

.question {
  color:#7ED3F7;
  text-align:center;
  font-size:80px;
  line-height:110%;
  margin-top:10%;
  margin-left:10%;
  margin-right:10%;
}

.options {
  font-size:40px;
  margin-top:20px;
  margin-left:90px;
}

table {
  padding: 10px;
  margin-left:0px;
  margin-right:0px;
  margin-top:600 px;
  width:100%;
  font-size:40px;

  
}

th,td{
  padding:30px;
  border:2px solid #faf7da;
  background-color:#7ED3F7;
  color:#faf7da;
  
}
table td.active {background: #b6d1d8;}

#nextbutton{
  background: #ccc;
}

.navbar {
  display:block;
  background-color:#faf7da;
  padding:50px;
  color:#7ED3F7;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  font-size:60px;
  line-height:110%;
  background-image: none;
}
