body {
	background-color:#FAF7DA;
}

span.logoImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}



.form-inline{
  margin: 60px auto;

text-align: center;
border: 1 px solid;

}


.container {
  max-width: 500 px;
  margin: 0 auto;
 
}